.cheque-preview {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
select {
    min-width: 100px;
}
select , input[type="text"] {
    margin-bottom: 7px;
}
.error {
    color: red;
    text-align: center;
    font-size: 12px;
}
.page-content-row {
    padding: 0 15px 50px;
}
table td, table th {
    padding: 8px 10px !important;
    font-size: 13px !important;
}
th input {
    display: block;
    width: 50px;
}
.dataTables_filter {
    display: none;
}
.alerted {
    background: #ed8585;
    margin: 0 -10px;
    padding: 9px 6px;
}
table.dataTable tbody tr.success {
    background: #bfebbf;
}
.panel-body {
    padding: 10px;
    margin: 20px 0;
}
label {
    display: block;
    font-weight:  bold;
}