.apm-phone-input {
    height: auto !important;
    padding: 9px 0 !important;
    color: #162342 !important;
}
div#apm-container {
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background: unset;
}

a#apm-scan-qr {
    width: 100%;
}
.apm-img-error-block img {
    opacity: 0;
}

.apm-img-error-block {
    background-image: url(/images/error.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
a#apm-scan-qr > .apm-block-btn {
    width: 100%;
    background: unset;
    height: 0;
    line-height: 1;
    color: transparent;
    font-family: inherit !important;
}

span.apm-qr-btn-text {
    font-family: 'CeraPro-Bold' !important;
    font-size: 13px;
    color: #ffffff !important;
}

a#apm-scan-qr > .apm-block-btn > span.apm-qr-btn-text {
    font-size: 19px;
}
.apm-img-error-block {
    margin-bottom: 20px;
}

p.apm-p {
    font-family: inherit !important;
    color: #162342 !important;
    font-size: 15px;
    line-height: 1.3;
}
.apm-qr-btn-text {
    color: #ffcb05;
}
div#apm-modal-content {
    background: #ffffff;
    color: #2f8c22;
}

a#apm-scan-qr-dupe > div span {
    color: #ffffff !important;
}
a#apm-scan-qr-dupe > div {
    font-family: inherit !important;
    width: 300px !important;
    background: #162342 !important;
    color: #fff;
    font-family: "Intro Bold Caps";
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 34px !important;
    border: none !important;
    overflow: hidden !important;
    padding: 10px 0 !important;
    line-height: normal !important;
    margin: 15px auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#337619",endColorstr="#4e9d30",GradientType=1);
    height: auto;
    line-height: 1;
    background-size: cover !important;
    background-position: center !important;
    box-shadow:  none;
}

a#qr-manual-input-button > div {
    font-family: 'CeraPro-Regular' !important;
    width: 300px !important;
    color: #441279 !important;
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 32px !important;
    border: 1px solid #dadada !important;
    overflow: hidden !important;
    padding: 10px 0 !important;
    line-height: normal !important;
    margin: 0 auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background: #ffffff;
    box-shadow: none !im;
    height: auto;
    line-height: 1;
}

span.btn-content {
    color: #162342 !important;
    font-size: 13px;
    font-family: 'CeraPro-Bold' !important;
}

a#qr-manual-input-button {
    margin: 16px 0;
    display: block;
}

a#qr-upload-photos-button > div {
    font-family: inherit !important;
    width: 300px !important;
    color: #ffffff !important;
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 32px !important;
    border: 1px solid #dadada !important;
    overflow: hidden !important;
    padding: 10px 0 !important;
    line-height: normal !important;
    margin: 0 auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background: #ffffff;
    box-shadow: none !important;
    height: auto;
    line-height: 1;
}
a#apm-submit-qr > div {
    font-family: inherit !important;
    width: 300px !important;
    color: #ffffff !important;
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 37px !important;
    border: none !important;
    overflow: hidden !important;
    padding: 10px 0 !important;
    line-height: normal !important;
    margin: 0 auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background: #162342 !important;
    box-shadow: none !important;
    height: auto;
    line-height: 1;
}

.apm-title {
    font-family: 'CeraPro-Bold' !important;
    color: #162342 !important;
    font-size: 25px !important;
    letter-spacing: 1px !important;
    margin-bottom: 10px;
    text-transform: uppercase;
}

p.apm-p-input {
    font-family: inherit !important;
    color: #000000;
    font-size: 13px;
}
form#apm-manual-upload > div#apm-upload-button {
    font-family: inherit !important;
    width: 300px !important;
    color: #ffffff !important;
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 35px !important;
    border: none !important;
    overflow: hidden !important;
    padding: 9px 0 12px !important;
    line-height: normal !important;
    margin: 20px auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background: #162342 !important;
    box-shadow: none;
    height: auto;
    line-height: 1;
}
form#apm-manual-upload > div#apm-upload-button span.btn-content {
    color: #fff !important;
}
a#apm-submit-photos-button > div {
    font-family: inherit !important;
    width: 300px !important;
    color: #ffffff !important;
    max-width: 100% !important;
    position: relative !important;
    z-index: 10 !important;
    font-size: 14px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 34px !important;
    border: none !important;
    overflow: hidden !important;
    padding: 13px 0 !important;
    line-height: normal !important;
    margin: 0 auto 10px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background: #162342 !important;
    box-shadow: none !important;
    height: auto;
    line-height: 1;
}
.apm-validation-error {
    color: #f00 !important;
    margin: 0;
}
a#apm-scan-qr:before {content: '';/*position: absolute;*/width: 100%;height: 100%;left: 0;top: 0;}

div#apm-widget {
    position: relative;
}
div#apm-container {
    position: static;
}
.popup-result__body {
    background: #ffffff;
}

.popup-result__text, .popup-result__topic {
    color: #1d5d92 !important;
    font-family: inherit !important;
}


@media (max-width :740px){
    .apm-modal-dialog {
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    max-width: 300px !important;
}

.apm-modal-body {
    padding: 25px !important;
}

.apm-modal-header {
    position: relative !important;
    z-index: 10 !important;
}
}