@font-face {
  font-family: 'CeraPro-Black';
  src: url('../fonts/CeraPro-Black.eot');
  src: local('☺'), url('../fonts/CeraPro-Black.woff') format('woff'), url('../fonts/CeraPro-Black.ttf') format('truetype'), url('../fonts/CeraPro-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro-Bold';
  src: url('../fonts/CeraPro-Bold.eot');
  src: local('☺'), url('../fonts/CeraPro-Bold.woff') format('woff'), url('../fonts/CeraPro-Bold.ttf') format('truetype'), url('../fonts/CeraPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro-Light';
  src: url('../fonts/CeraPro-Light.eot');
  src: local('☺'), url('../fonts/CeraPro-Light.woff') format('woff'), url('../fonts/CeraPro-Light.ttf') format('truetype'), url('../fonts/CeraPro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro-Regular';
  src: url('../fonts/CeraPro-Regular.eot');
  src: local('☺'), url('../fonts/CeraPro-Regular.woff') format('woff'), url('../fonts/CeraPro-Regular.ttf') format('truetype'), url('../fonts/CeraPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




