body.scrolled header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
a.logo-link {
	margin: 0 0 -6px;
}
body.scrolled {
	padding-top: 6rem;
	background: #63b9e1;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	a.logo-link {
		height: 80px;
		width: 49px;
	}
    .header-l .header-timer-wrap {
    display: block;
    color: #fff;
    margin: 0 0 0 5px;
    background-image: url(/images/timer.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 0 0 14px;
    background-position: 2px center;
}

.header-l .header-timer-wrap p {
    display: none;
}

.header-l .header-timer-wrap span {
    display: none;
}

.header-l .header-timer-wrap .header-timer > div >div {
    font-size: 18px;
}

.header-l .header-timer-wrap .header-timer > div {
    width: 15px;
}

.header-l .header-timer-wrap .header-timer > div:after {
    font-size: 14px;
    top: 3px;
    right: -13px;
}

span.main-menu .header-score {
    margin: 16px 0 0;
}
	header .btn-custom {
		font-size: 13px;
		padding: 8px 12px;
	}

	.btn-custom.btn-custom-icon {
		padding: 15px;
	}


	footer {
		display: block;
		text-align: center;
		padding: 20px 0;
	}

	.copyright, footer ul li a {
		font-size: 13px;
	}
}
@media (max-width: 576px) {
	.static-section {
		padding: 27px 15px;
	}

	header {
		background: transparent !important;
	}

	body.scrolled header {
		background: rgba(255, 255, 255, 0.6) !important;
	}
	.copyright {
		margin: 0 0 14px;
	}
}