html, body {
  min-width: 320px;
  height: 100%;
  display: block;
  background: #000;
  font-size: 16px;
  font-family: 'GothaProReg';
  color: #fff;
}

body > div {
  height: 100%;
}


@media (min-width: 1630px) {
  .container {
    max-width: 1630px;
  }
}


a {
  color: #fff;
  span {
    display: inline-block;
    line-height: 13px;
    border-bottom: 1px solid #676767;
  }
  &:hover {
    color: #59ccff;
  }
}



table {
  th, td {
    text-align: center;
    color: #fff;
  }
}




header {
  & > div {
    border-bottom: 2px solid #1CB1FC;
  }
  .end-date {
    margin: 0;
    line-height: 20px;
  }
  .row {
    height: 98px;
  }




  .navbar {
    padding: 0!important;
    .navbar-toggler {
      font-size: 35px;
      color: #fff;
      padding: 0;
      border-radius: 0;
      &:hover {
        color: #59ccff;
      }
    }

    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-family: 'GothaProMed';
        padding-right: 0;
        padding-left: 0;
        margin-left: 35px;
        white-space: nowrap;
      }
      &:first-child {
        .nav-link {
          margin-left: 0;
        }
      }
      &.active {
        .nav-link {
          color: #59ccff;
        }
      }
    }

    &, & .navbar-collapse {
      justify-content: flex-end;
    }


  }
  @media (max-width: 1629px) and (min-width: 992px) {
    .navbar {
      .nav-item {
        .nav-link {
          margin-left: 15px;
        }
      }
    }
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .navbar {
      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }

    }
    .end-date {
      line-height: 18px;
      font-size: 12px;
    }
  }

  @media (max-width: 991px) {
    .navbar {
      .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
      }
      .navbar-nav {
        padding: 20px;
        .border-radius(10px);
        background: #000;
        border: 1px solid #59ccff;
      }
      .nav-item {
        .nav-link {
          text-transform: uppercase;
          font-family: 'GothaProMed';
          padding-right: 0;
          padding-left: 0;
          margin-left: 0;
        }
      }

    }
  }
  @media (max-width: 767px) and (min-width: 0) {
    .end-date {
      text-align: center;
      font-size: 12px;
    }
  }
}



main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: calc(100% - 150px);
}
footer {
  height: 50px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid #1CB1FC;
    div {
      text-align: center;
      font-size: 12px;
    }
  }
  a span {
    line-height: 11px;
  }
}


// Главная =================================================================================

.index-page {
  min-height: 100%;
  & > .row {
    align-items: center;

    &:first-child {
      //height: 70%;
      .col {
        &:first-child {
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
        }
      }
    }
    &:last-child {
      //height: 30%;
    }
  }
  .hair {
    background: url("/images/photo.png") top right no-repeat;
    height: 615px;
    position: relative;
    h2 {
      position: absolute;
      top: 56px;
      left: -6px;
      font-size: 60px;
      line-height: 69px;
      width: 400px;
    }
    p {
      position: absolute;
      top: 416px;
      left: 101px;
      margin: 0;
      line-height: 19px;
      span {
        font-family: 'GothaProMed';
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .block-reg-check {
    .title {
      & > div {
        line-height: 48px;
        &:first-child {
          display: flex;
          justify-content: space-between;
          font-size: 35px;
          img {
            height: 52px;
          }
        }
        &:last-child {
          text-align: center;
          font-size: 35px;
        }
      }
    }
  }


  .prizes-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    & > div {
      width: calc(33.3333% - 10px);
      & > div:first-child {
        display: flex;
        height: 220px;
        justify-content: center;
        align-items: center;

        div {
          display: table;

        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    h5 {
      font-family: 'GothaProMed';
      font-size: 22px;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 17px;
      color: #929292;
      margin: 0;
      letter-spacing: -0.4px;
    }
  }




  .btn-reg-check {
    text-align: center;
  }



  .what-should-be-done {
    display: flex;
    justify-content: space-around;
    a {
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 10px;
      }
    }
    h5 {
      font-family: 'GothaProBol';
      font-size: 24px;
      margin-bottom: 3px;
    }
    p {
      font-size: 18px;
      color: #929292;
      margin: 0;
      line-height: 22px;
    }
    & > div {
      display: flex;
      align-items: flex-end;
      &:nth-child(1) {
        flex-direction: column;
        align-items: center;
      }
      & > div:first-child {
        width: 188px;
      }
      & > div:last-child {
        height: 130px;
      }
    }
  }



  @media (max-width: 1629px) and (min-width: 576px) {
    .hair {
      background-size: contain;
      h2 {
        font-size: 45px;
        line-height: 59px;
        width: 290px;
      }
      p {
        top: 436px;
        left: 41px;
      }
    }
  }
  @media (max-width: 1629px) and (min-width: 1200px) {


    .block-reg-check {
      .title {
        & > div {
          line-height: 26px;
          &:first-child {
            font-size: 25px;
            img {
              height: 32px;
            }
          }
          &:last-child {
            font-size: 25px;
          }
        }
      }
    }



    .prizes-block {
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }



    .what-should-be-done {

      a {
        display: block;
        width: 100px;
        text-align: center;
        &:nth-child(1) {
          width: 60px;
        }
        img {
          max-width: 100%;
        }
      }
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
      & > div {
        & > div:first-child {
          width: 153px;
          img {
            width: 115%;
          }
        }
        & > div:last-child {
          height: 100px;
        }
      }
    }

  }

  @media (max-width: 1199px) and (min-width: 992px) {

    .hair {
      height: 530px;
    }

    .block-reg-check {
      .title {
        & > div {
          line-height: 26px;
          &:first-child {
            font-size: 20px;
            img {
              height: 29px;
            }
          }
          &:last-child {
            font-size: 20px;
          }
        }
      }
    }


    .prizes-block {
      h5 {
        font-size: 16px;
      }
      p {
        font-size: 11px;
      }
    }




  }

  @media (max-width: 1199px) and (min-width: 0) {

    .what-should-be-done {
      flex-wrap: wrap;
      a {
        text-align: center;
        &:nth-child(1) {
          width: 60px;
        }
        img {
          max-width: 100%;
        }
      }
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
      & > div {


        &:nth-child(1) {
          flex-direction: row;
          order: 4;
          width: 100%;
          justify-content: center;
          a {
            margin: 10px;
            &:nth-child(1) {
              order: 2;
            }
            &:nth-child(2) {
              order: 1;
            }
            &:nth-child(3) {
              order: 3;
            }
          }
        }
        &:nth-child(2) {
          order: 1;
          & > div:nth-child(2) {
            width: 270px;
          }
        }
        &:nth-child(3) {
          order: 2;
        }
        &:nth-child(4) {
          order: 3;
        }

        & > div:first-child {
          width: 132px;
          img {
            width: 115%;
          }
        }
        & > div:last-child {
          height: 100px;
        }
      }
    }

  }


  @media (max-width: 991px) and (min-width: 0) {

    .block-reg-check {
      .title {
        & > div {
          line-height: 42px;
          &:first-child {
            font-size: 31px;
            img {
              height: 44px;
            }
          }
          &:last-child {
            font-size: 31px;
          }
        }
      }
    }


    .what-should-be-done {
      flex-wrap: wrap;
      margin-top: 50px;
      h5 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      & > div {
        flex-direction: column;
        align-items: center;
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          order: 1;
          & > div:nth-child(1) {
            display: flex;
            align-items: flex-end;
            height: 217px;
          }
          & > div:nth-child(2) {
            width: 180px;
          }
        }
        & > div:first-child {
          width: 218px;
          img {
            width: 100%;
          }
        }
      }
    }

  }

  @media (max-width: 767px) and (min-width: 576px) {


    .block-reg-check {
      .title {
        & > div {
          line-height: 29px;
          &:first-child {
            font-size: 23px;
            img {
              height: 31px;
            }
          }
          &:last-child {
            font-size: 23px;
          }
        }
      }
    }



    .prizes-block {
      h5 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
    }



  }

  @media (max-width: 575px) and (min-width: 0) {


    .hair {
      background-size: contain;
      height: 102vw;
      h2 {
        top: 11%;
        left: -0.3%;
        font-size: 8vw;
        line-height: 9vw;
        width: 54vw;
      }
      p {
        top: 73%;
        left: 13%;
        margin: 0;
        font-size: 3vw;
        line-height: 3vw;
        span {
        }
      }
    }


    .block-reg-check {
      .title {
        & > div {
          line-height: 4.7vw;
          &:first-child {
            font-size: 4.2vw;
            img {
              height: 5vw;
            }
          }
          &:last-child {
            font-size: 4.2vw;
          }
        }
      }
    }


    .prizes-block {
      flex-wrap: wrap;
      justify-content: center;
      & > div {
        width: 100%;
        & > div:first-child {
        }
      }
      h5 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
    }






  }
}

.btn-group-collapse-map {
  height: 50px;
  a {
    text-decoration: none!important;
  }
}


#collapse-map {

  & > div {
    background: #262626;
    border-top: 2px solid #2AB2F9;
    padding-bottom: 24px;
  }
  h4 {
    font-size: 22px;
    margin: 23px 0 15px 0;
  }

  .towns-block {
    margin-bottom: 20px;
  }

  iframe {
    margin-top: 64px;
  }

  .nicescroll-working-time-list > div {
    width: calc(100% - 1px);
  }

  .working-time > div:nth-child(3), .nicescroll-working-time-list > div > div {
    display: flex;

    & > div {
      font-family: 'GothaProReg';
      line-height: 18px;
      color: #999898;
      &:nth-child(1) {
        width: 30px;
      }
      &:nth-child(2) {
        width: calc(100% - 180px);
      }
      &:nth-child(3) {
        width: 150px;
        text-align: right;
        white-space: nowrap;
      }
    }
  }
  .nicescroll-block {
    height: 366px;
    margin-top: 18px;
  }

  .feedback {
    textarea {
      height: 238px;
    }
  }

  @media (max-width: 1630px) and (min-width: 992px) {

    .working-time > div:nth-child(3), .nicescroll-working-time-list > div > div {
      & > div {
        font-size: 14px;
        &:nth-child(1) {
          width: 30px;
        }
        &:nth-child(2) {
          width: calc(100% - 130px);
        }
        &:nth-child(3) {
          width: 100px;
        }
      }
    }


  }

  @media (max-width: 1199px) and (min-width: 992px) {

    .working-time > div:nth-child(3), .nicescroll-working-time-list > div > div {

      & > div {
        &:nth-child(1) {
          width: 30px;
        }
        &:nth-child(2) {
          width: calc(100% - 90px);
        }
        &:nth-child(3) {
          width: 60px;
        }
      }

    }
  }


  @media (max-width: 991px) and (min-width: 0px) {

    .working-time > div:nth-child(3), .nicescroll-working-time-list > div > div {
      & > div {
        font-size: 14px;
        &:nth-child(1) {
          width: 30px;
        }
        &:nth-child(2) {
          width: calc(100% - 130px);
        }
        &:nth-child(3) {
          width: 100px;
        }
      }
    }


  }


  @media (max-width: 575px) and (min-width: 0px) {

    .working-time > div:nth-child(3), .nicescroll-working-time-list > div > div {

      & > div {
        font-size: 12px;
        &:nth-child(2) {
          width: calc(100% - 90px);
        }
        &:nth-child(3) {
          width: 60px;
        }
      }

    }


  }

}










/* Личный кабинет загрузка чков ===================================================================================================== */




.lk-upload-check-page {
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 21px 0 25px;
  }
  p {
    padding-left: 30px;
    &.full-name {
      font-family: 'GothaProMed';
      font-size: 22px;
      margin: 0 0 20px 0;
      line-height: 15px;
    }
    &.tel, &.e-mail {
      margin: 0;
      line-height: 20px;
    }
    &:last-child {

    }
  }



  @media (min-width: 1630px) {
    & > div > div {
      flex-basis: 815px;
    }
  }



  @media (max-width: 766px) and (min-width: 0px) {
    p {
      &.full-name {
        font-size: 16px;
        margin: 0 0 15px 0;
      }
      &.tel, &.e-mail {
        font-size: 14px;
      }
      &:last-child {

      }
    }
  }

  @media (max-width: 575px) and (min-width: 0px) {
    h1 {
      text-align: center;
      font-size: 25px;
      margin: 21px 0 25px;
    }
    p {
      text-align: center;
      padding: 0;
      &.e-mail {
        margin-bottom: 20px;
      }
    }
  }


}

.lk-check-table {
  background: #262626;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 22px;
  .th, .tr {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:nth-child(even) {
      background: #2D2D2D;
    }
    & > div {
      text-align: center;
      font-size: 17px;
      color: #fff;
      padding: 5px 0;

      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 30%;
      }
    }
    &.th {
      border-bottom: 2px solid #1CB1FC;
      & > div {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 991px) and (min-width: 767px) {
    .th, .tr {
      & > div {
        font-size: 14px;
      }
      &.th {
        & > div {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 766px) and (min-width: 0px) {
    margin-bottom: 20px;
    .th, .tr {
      & > div {
        font-size: 10px;
      }
      &.th {
        & > div {
          font-size: 10px;
        }
      }
    }
  }

  @media (max-width: 575px) and (min-width: 0px) {
    .th, .tr {
      & > div {
        font-size: 8px;
      }
      &.th {
        & > div {
          font-size: 8px;
        }
      }
    }
  }

}






/* Победители ===================================================================================================== */








.winners-page {
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 21px 0 25px;
  }
  p {
    padding-left: 30px;
    &.full-name {
      font-family: 'GothaProMed';
      font-size: 22px;
      margin: 0 0 20px 0;
      line-height: 15px;
    }
    &.tel, &.e-mail {
      margin: 0;
      line-height: 20px;
    }
    &:last-child {

    }
  }






  @media (min-width: 1630px) {
    & > div > div {
      flex-basis: 80%;
    }
  }



  @media (max-width: 767px) and (min-width: 0px) {
    p {
      &.full-name {
        font-size: 16px;
        margin: 0 0 15px 0;
      }
      &.tel, &.e-mail {
        font-size: 14px;
      }
      &:last-child {

      }
    }


  }

  @media (max-width: 575px) and (min-width: 0px) {
    h1 {
      text-align: center;
      font-size: 25px;
      margin: 21px 0 25px;
    }
    p {
      text-align: center;
      padding: 0;
      &.e-mail {
        margin-bottom: 20px;
      }
    }

  }


}

.winners-table {
  background: #262626;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 22px;
  .th, .tr {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:nth-child(even) {
      background: #2D2D2D;
    }
    & > div {
      text-align: center;
      font-size: 17px;
      color: #fff;
      padding: 5px 0;

      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 20%;
      }
      &:nth-child(5) {
        width: 30%;
      }
    }
    &.th {
      border-bottom: 2px solid #1CB1FC;
      & > div {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 991px) and (min-width: 767px) {
    .th, .tr {
      & > div {
        font-size: 14px;
      }
      &.th {
        & > div {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 766px) and (min-width: 0px) {
    margin-bottom: 20px;
    .th, .tr {
      & > div {
        font-size: 10px;
      }
      &.th {
        & > div {
          font-size: 10px;
        }
      }
    }
  }

  @media (max-width: 575px) and (min-width: 0px) {
    .th, .tr {
      & > div {
        font-size: 8px;
      }
      &.th {
        & > div {
          font-size: 8px;
        }
      }
    }
  }

}


// Правила акции ==========================================================================================

.rules-page {

  margin-bottom: 30px;
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 21px 0 25px;
  }

  h4 {
    font-size: 22px;
    margin-bottom: 18px;
  }

  .spLink {
    display: table;
    font-size: 18px;
    margin-top: 20px;
  }

}

.faq-block {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  & > div {
    &:first-child {
      width: 20px;
    }
    &:last-child {
      width: calc(100% - 20px);
      background: #262626;
      border-left: 2px solid #1CB1FC;
      .border-radius(0 0 8px 0);
      & > div > p {
        margin-bottom: 9px;
      }
    }
  }
  .btn-collapse-block {
    line-height: 35px;
    padding: 0 6px;
    font-family: 'GothaProMed';
    font-size: 18px;
    color: #fff;
    display: block;
    text-decoration: none!important;
  }
  .collapse-block {
    font-size: 16px;
    color: #999;
    margin: 0 0 0 16px;
  }
  i {
    color: #1CB1FC;
    line-height: 35px;
  }
}


.nicescroll-rules {
  height: 600px;
  background: #262626;
  & > div {
    padding: 10px;
    & > p {
      color: #bdbdbd;
      font-size: 16px;
    }
  }
}


@media (max-width: 991px) and (min-width: 0px) {

  .rules-page {
    h4 {
      font-size: 18px;
      margin-bottom: 14px;
    }

    .spLink {
      font-size: 12px;
    }
  }

  .faq-block {
    margin-bottom: 10px;
    & > div {
      &:last-child {
        & > div > p {
          font-size: 12px;
        }
      }
    }
    .btn-collapse-block {
      line-height: 28px;
      font-size: 14px;
    }
    i {
      line-height: 28px;
      font-size: 12px;
    }
  }

  .nicescroll-rules {
    height: 500px;
    & > div {
      & > p {
        font-size: 14px;
      }
    }
  }


}
@media (max-width: 766px) and (min-width: 576px) {

}
@media (max-width: 575px) and (min-width: 0px) {
  .rules-page {
    h1 {
      font-size: 30px;
    }
  }
  .nicescroll-rules {
    height: 300px;
    & > div {
      & > p {
        font-size: 12px;
      }
    }
  }
}










/* ===================================================================================================== */

.modal-dialog {
}
.modal {

}
.modal-content {
  background-color: #262626;
  border-radius: 1.3rem;
  .modal-title {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
  & > div {
    & > div {
      position: relative;
      .close {
        position: absolute;
        top: -40px;
        right: -50px;
        background: #262626;
        color: #fff;
        width: 50px;
        height: 50px;
        .border-radius(50%);
        opacity: 1!important;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
      &:last-child {
        padding: 20px 100px;
      }
    }
  }





}

@media (max-width: 575px) and (min-width: 0px) {

  .modal-backdrop {

  }
  .modal-backdrop.show {
    opacity: 1;
  }


  .modal {
    padding: 0!important;
  }
  .modal-content {
    .modal-title {
      font-size: 20px;
      padding: 35px 0 20px 0;
    }
    & > div {
      & > div {
        .close {
          background: transparent;
          top: 10px;
          right: 10px;
          width: unset;
          height: unset;
          line-height: 20px;
          .border-radius(0);
        }
        &:last-child {
          padding: 20px 15px;
        }
      }
    }
  }
}






















.not-exist {
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  height: 190px;
  div {
    font-size: 28px;
  }
  @media (max-width: 767px) and (min-width: 0px) {
    width: 100%;
    height: 100px;
    div {
      font-size: 20px;
    }
  }
  @media (max-width: 575px) and (min-width: 0px) {
    div {
      font-size: 16px;
    }
  }
}



.nicescroll-rails {
  background: #373737;
  .border-radius (5px)
}

.form-group {
  margin-bottom: 21px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #787878;
  background-clip: padding-box;
  border: 0;
  transition: none;
  resize: none;
  .border-radius (20px);
  &:focus {

    color: #fff;
    background-color: #787878;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;

  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1 !important; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff !important;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff !important;
  }
}


input[type=file] {
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
label[for=file] {
  span {
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}



.checkbox-block {
  font-family: 'GothaProReg';
  font-size: 14px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    background: url(/images/checkbox.png) left top no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  label, span {
    padding: 0;
    margin: 0;
    width: calc(100% - 33px);
  }

  &.checked {
    i {
      background-position: left center;
    }
  }

  &.disabled {
    i {
      background-position: left top;
    }
  }

  &.checked-disabled {
    i {
      background-position: left bottom;
    }
  }

  input {
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
  }
}



.theme_select {
  position: relative;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;

  & > div {
    background: #787878;
    display: table;
    width: 100%;
    border: 0px solid #FBE65E;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  .ts_selected_item {
    float: left;
    font-size: 16px;
    padding: 3px 10px;
    line-height: 23px;
    white-space: nowrap;
    height: 31px;
  }

  .ts_arrow {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 35px;
    color: #fff;
    font-size: 7px;
    background: #787878;
    line-height: 26px;
    text-align: center;
    border-radius: 5px;
  }

  .ts_list {
    background: #787878;
    display: none;
    position: absolute;
    left: 0;
    top: calc(100%  - 4px);
    width: 100%;
    margin: 0;
    padding: 0;
    border-left: 0px solid #FBE65E;
    border-right: 0px solid #FBE65E;
    border-bottom: 0px solid #FBE65E;
    border-radius: 0 0 5px 5px;
    z-index: 1000;
  }

  li {
    color: #fff;
    padding: 0 0 0 10px;
    line-height: 30px;
    list-style: none;
    cursor: default;
    border-radius: 5px;
    &.selected {
      color: #787878;
      background: #EAEAEA;
    }

    &:hover {
      color: #787878;
      background: #EAEAEA;
    }
  }
}



select {
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
}



.btn  {
  display: table;
  font-family: 'GothaProBol';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  border-radius: 1.1rem;
  color: #fff !important;
  border: 0px solid transparent;
  padding: .375rem 2rem;
}

.gradient {
  background-color: #189bd9;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDBlZGZlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxZWI3ZmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjA1NDAwMDAwMDAwMDAwMDAwNiIvPjxzdG9wIHN0b3AtY29sb3I9IiMxOWE1ZDgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQ4YmNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiMxMjgxYzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk0NiIvPjxzdG9wIHN0b3AtY29sb3I9IiMwOTU0OWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(64, 237, 254)),color-stop(0.054, rgb(30, 183, 250)),color-stop(0.5, rgb(25, 165, 216)),color-stop(0.51, rgb(20, 139, 206)),color-stop(0.946, rgb(18, 129, 197)),color-stop(1, rgb(9, 84, 156)));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(top,rgb(64, 237, 254) 0%,rgb(30, 183, 250) 5.4%,rgb(25, 165, 216) 50%,rgb(20, 139, 206) 51%,rgb(18, 129, 197) 94.6%,rgb(9, 84, 156) 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom,rgb(64, 237, 254) 0%,rgb(30, 183, 250) 5.4%,rgb(25, 165, 216) 50%,rgb(20, 139, 206) 51%,rgb(18, 129, 197) 94.6%,rgb(9, 84, 156) 100%);
  background-image: -ms-linear-gradient(top,rgb(64, 237, 254) 0%,rgb(30, 183, 250) 5.4%,rgb(25, 165, 216) 50%,rgb(20, 139, 206) 51%,rgb(18, 129, 197) 94.6%,rgb(9, 84, 156) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff40edfe",endColorstr="#ff09549c",GradientType=0);
  }
}



.gradient-gray {
  background-color: #8b8a8a;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDZkN2RhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhY2FiYWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjA1NDAwMDAwMDAwMDAwMDAwNiIvPjxzdG9wIHN0b3AtY29sb3I9IiM5Nzk2OTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjODQ4MzgzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiM2NDYzNjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk0NiIvPjxzdG9wIHN0b3AtY29sb3I9IiM0NTQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(214, 215, 218)),color-stop(0.054, rgb(172, 171, 171)),color-stop(0.5, rgb(151, 150, 150)),color-stop(0.51, rgb(132, 131, 131)),color-stop(0.946, rgb(100, 99, 99)),color-stop(1, rgb(69, 68, 68)));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(top,rgb(214, 215, 218) 0%,rgb(172, 171, 171) 5.4%,rgb(151, 150, 150) 50%,rgb(132, 131, 131) 51%,rgb(100, 99, 99) 94.6%,rgb(69, 68, 68) 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom,rgb(214, 215, 218) 0%,rgb(172, 171, 171) 5.4%,rgb(151, 150, 150) 50%,rgb(132, 131, 131) 51%,rgb(100, 99, 99) 94.6%,rgb(69, 68, 68) 100%);
  background-image: -ms-linear-gradient(top,rgb(214, 215, 218) 0%,rgb(172, 171, 171) 5.4%,rgb(151, 150, 150) 50%,rgb(132, 131, 131) 51%,rgb(100, 99, 99) 94.6%,rgb(69, 68, 68) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient-gray {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd6d7da",endColorstr="#ff454444",GradientType=0);
  }
}












@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?hs8o3e');
  src:  url('/fonts/icomoon.eot?hs8o3e#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?hs8o3e') format('truetype'),
  url('/fonts/icomoon.woff?hs8o3e') format('woff'),
  url('/fonts/icomoon.svg?hs8o3e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\ea1c";
}
.icon-attachment:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-double-arrow-right:before {
  content: "\e902";
}
.icon-double-arrow-down:before {
  content: "\e903";
}
.icon-play3:before {
  content: "\ea1d";
}




@font-face {
  font-family: 'GothaProReg';
  src: url('/fonts/GothaProReg.eot');
  src: local('☺'), url('/fonts/GothaProReg.woff') format('woff'), url('/fonts/GothaProReg.ttf') format('truetype'), url('/fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothaProMed';
  src: url('/fonts/GothaProMed.eot');
  src: local('☺'), url('/fonts/GothaProMed.woff') format('woff'), url('/fonts/GothaProMed.ttf') format('truetype'), url('/fonts/GothaProMed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothaProBol';
  src: url('/fonts/GothaProBol.eot');
  src: local('☺'), url('/fonts/GothaProBol.woff') format('woff'), url('/fonts/GothaProBol.ttf') format('truetype'), url('/fonts/GothaProBol.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}






















.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.gradient-v(@startColor: #fff, @endColor: #000) {
  background-color: @startColor;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjZlNjJjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmNmU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, @endColor),color-stop(1, @startColor));
  background-image: -webkit-repeating-linear-gradient(bottom,@endColor 0%,@startColor 100%);
  background-image: repeating-linear-gradient(to top,@endColor 0%,@startColor 100%);
  background-image: -ms-repeating-linear-gradient(bottom,@endColor 0%,@startColor 100%);
}

.gradient-text-v(@startColor: #fff, @endColor: #000) {
  padding-bottom: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(@startColor, @endColor);
  background-image: -o-linear-gradient(transparent, transparent);
}

.box-shadow(@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: 	 @string;
  -ms-transform: 		 @string;
  -o-transform: 		 @string;
}