html,
body {
  min-width: 320px;
  height: 100%;
  display: block;
  background: #000;
  font-size: 16px;
  font-family: 'GothaProReg';
  color: #fff;
}
body > div {
  height: 100%;
}
@media (min-width: 1630px) {
  .container {
    max-width: 1630px;
  }
}
a {
  color: #fff;
}
a span {
  display: inline-block;
  line-height: 13px;
  border-bottom: 1px solid #676767;
}
a:hover {
  color: #59ccff;
}
table th,
table td {
  text-align: center;
  color: #fff;
}
header > div {
  border-bottom: 2px solid #1CB1FC;
}
header .end-date {
  margin: 0;
  line-height: 20px;
}
header .row {
  height: 98px;
}
header .navbar {
  padding: 0!important;
}
header .navbar .navbar-toggler {
  font-size: 35px;
  color: #fff;
  padding: 0;
  border-radius: 0;
}
header .navbar .navbar-toggler:hover {
  color: #59ccff;
}
header .navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-family: 'GothaProMed';
  padding-right: 0;
  padding-left: 0;
  margin-left: 35px;
  white-space: nowrap;
}
header .navbar .nav-item:first-child .nav-link {
  margin-left: 0;
}
header .navbar .nav-item.active .nav-link {
  color: #59ccff;
}
header .navbar,
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 1629px) and (min-width: 992px) {
  header .navbar .nav-item .nav-link {
    margin-left: 15px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  header .navbar .nav-item .nav-link {
    font-size: 14px;
  }
  header .end-date {
    line-height: 18px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  header .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }
  header .navbar .navbar-nav {
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #000;
    border: 1px solid #59ccff;
  }
  header .navbar .nav-item .nav-link {
    text-transform: uppercase;
    font-family: 'GothaProMed';
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) and (min-width: 0) {
  header .end-date {
    text-align: center;
    font-size: 12px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: calc(100% - 150px);
}
footer {
  height: 50px;
}
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top: 2px solid #1CB1FC;
}
footer > div div {
  text-align: center;
  font-size: 12px;
}
footer a span {
  line-height: 11px;
}
.index-page {
  min-height: 100%;
}
.index-page > .row {
  align-items: center;
}
.index-page > .row:first-child .col:first-child {
  padding-right: 0;
}
.index-page > .row:first-child .col:last-child {
  padding-left: 0;
}
.index-page .hair {
  background: url("/images/photo.png") top right no-repeat;
  height: 615px;
  position: relative;
}
.index-page .hair h2 {
  position: absolute;
  top: 56px;
  left: -6px;
  font-size: 60px;
  line-height: 69px;
  width: 400px;
}
.index-page .hair p {
  position: absolute;
  top: 416px;
  left: 101px;
  margin: 0;
  line-height: 19px;
}
.index-page .hair p span {
  font-family: 'GothaProMed';
  display: block;
  margin-bottom: 5px;
}
.index-page .block-reg-check .title > div {
  line-height: 48px;
}
.index-page .block-reg-check .title > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
.index-page .block-reg-check .title > div:first-child img {
  height: 52px;
}
.index-page .block-reg-check .title > div:last-child {
  text-align: center;
  font-size: 35px;
}
.index-page .prizes-block {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.index-page .prizes-block > div {
  width: calc(33.3333% - 10px);
}
.index-page .prizes-block > div > div:first-child {
  display: flex;
  height: 220px;
  justify-content: center;
  align-items: center;
}
.index-page .prizes-block > div > div:first-child div {
  display: table;
}
.index-page .prizes-block img {
  width: 100%;
  height: auto;
}
.index-page .prizes-block h5 {
  font-family: 'GothaProMed';
  font-size: 22px;
  text-align: center;
}
.index-page .prizes-block p {
  text-align: center;
  font-size: 17px;
  color: #929292;
  margin: 0;
  letter-spacing: -0.4px;
}
.index-page .btn-reg-check {
  text-align: center;
}
.index-page .what-should-be-done {
  display: flex;
  justify-content: space-around;
}
.index-page .what-should-be-done a:nth-child(1),
.index-page .what-should-be-done a:nth-child(2) {
  margin-bottom: 10px;
}
.index-page .what-should-be-done h5 {
  font-family: 'GothaProBol';
  font-size: 24px;
  margin-bottom: 3px;
}
.index-page .what-should-be-done p {
  font-size: 18px;
  color: #929292;
  margin: 0;
  line-height: 22px;
}
.index-page .what-should-be-done > div {
  display: flex;
  align-items: flex-end;
}
.index-page .what-should-be-done > div:nth-child(1) {
  flex-direction: column;
  align-items: center;
}
.index-page .what-should-be-done > div > div:first-child {
  width: 188px;
}
.index-page .what-should-be-done > div > div:last-child {
  height: 130px;
}
@media (max-width: 1629px) and (min-width: 576px) {
  .index-page .hair {
    background-size: contain;
  }
  .index-page .hair h2 {
    font-size: 45px;
    line-height: 59px;
    width: 290px;
  }
  .index-page .hair p {
    top: 436px;
    left: 41px;
  }
}
@media (max-width: 1629px) and (min-width: 1200px) {
  .index-page .block-reg-check .title > div {
    line-height: 26px;
  }
  .index-page .block-reg-check .title > div:first-child {
    font-size: 25px;
  }
  .index-page .block-reg-check .title > div:first-child img {
    height: 32px;
  }
  .index-page .block-reg-check .title > div:last-child {
    font-size: 25px;
  }
  .index-page .prizes-block h5 {
    font-size: 18px;
  }
  .index-page .prizes-block p {
    font-size: 13px;
  }
  .index-page .what-should-be-done a {
    display: block;
    width: 100px;
    text-align: center;
  }
  .index-page .what-should-be-done a:nth-child(1) {
    width: 60px;
  }
  .index-page .what-should-be-done a img {
    max-width: 100%;
  }
  .index-page .what-should-be-done h5 {
    font-size: 18px;
  }
  .index-page .what-should-be-done p {
    font-size: 14px;
    line-height: 18px;
  }
  .index-page .what-should-be-done > div > div:first-child {
    width: 153px;
  }
  .index-page .what-should-be-done > div > div:first-child img {
    width: 115%;
  }
  .index-page .what-should-be-done > div > div:last-child {
    height: 100px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .index-page .hair {
    height: 530px;
  }
  .index-page .block-reg-check .title > div {
    line-height: 26px;
  }
  .index-page .block-reg-check .title > div:first-child {
    font-size: 20px;
  }
  .index-page .block-reg-check .title > div:first-child img {
    height: 29px;
  }
  .index-page .block-reg-check .title > div:last-child {
    font-size: 20px;
  }
  .index-page .prizes-block h5 {
    font-size: 16px;
  }
  .index-page .prizes-block p {
    font-size: 11px;
  }
}
@media (max-width: 1199px) and (min-width: 0) {
  .index-page .what-should-be-done {
    flex-wrap: wrap;
  }
  .index-page .what-should-be-done a {
    text-align: center;
  }
  .index-page .what-should-be-done a:nth-child(1) {
    width: 60px;
  }
  .index-page .what-should-be-done a img {
    max-width: 100%;
  }
  .index-page .what-should-be-done h5 {
    font-size: 18px;
  }
  .index-page .what-should-be-done p {
    font-size: 14px;
    line-height: 18px;
  }
  .index-page .what-should-be-done > div:nth-child(1) {
    flex-direction: row;
    order: 4;
    width: 100%;
    justify-content: center;
  }
  .index-page .what-should-be-done > div:nth-child(1) a {
    margin: 10px;
  }
  .index-page .what-should-be-done > div:nth-child(1) a:nth-child(1) {
    order: 2;
  }
  .index-page .what-should-be-done > div:nth-child(1) a:nth-child(2) {
    order: 1;
  }
  .index-page .what-should-be-done > div:nth-child(1) a:nth-child(3) {
    order: 3;
  }
  .index-page .what-should-be-done > div:nth-child(2) {
    order: 1;
  }
  .index-page .what-should-be-done > div:nth-child(2) > div:nth-child(2) {
    width: 270px;
  }
  .index-page .what-should-be-done > div:nth-child(3) {
    order: 2;
  }
  .index-page .what-should-be-done > div:nth-child(4) {
    order: 3;
  }
  .index-page .what-should-be-done > div > div:first-child {
    width: 132px;
  }
  .index-page .what-should-be-done > div > div:first-child img {
    width: 115%;
  }
  .index-page .what-should-be-done > div > div:last-child {
    height: 100px;
  }
}
@media (max-width: 991px) and (min-width: 0) {
  .index-page .block-reg-check .title > div {
    line-height: 42px;
  }
  .index-page .block-reg-check .title > div:first-child {
    font-size: 31px;
  }
  .index-page .block-reg-check .title > div:first-child img {
    height: 44px;
  }
  .index-page .block-reg-check .title > div:last-child {
    font-size: 31px;
  }
  .index-page .what-should-be-done {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .index-page .what-should-be-done h5 {
    text-align: center;
  }
  .index-page .what-should-be-done p {
    text-align: center;
  }
  .index-page .what-should-be-done > div {
    flex-direction: column;
    align-items: center;
  }
  .index-page .what-should-be-done > div:nth-child(2),
  .index-page .what-should-be-done > div:nth-child(3),
  .index-page .what-should-be-done > div:nth-child(4) {
    order: 1;
  }
  .index-page .what-should-be-done > div:nth-child(2) > div:nth-child(1),
  .index-page .what-should-be-done > div:nth-child(3) > div:nth-child(1),
  .index-page .what-should-be-done > div:nth-child(4) > div:nth-child(1) {
    display: flex;
    align-items: flex-end;
    height: 217px;
  }
  .index-page .what-should-be-done > div:nth-child(2) > div:nth-child(2),
  .index-page .what-should-be-done > div:nth-child(3) > div:nth-child(2),
  .index-page .what-should-be-done > div:nth-child(4) > div:nth-child(2) {
    width: 180px;
  }
  .index-page .what-should-be-done > div > div:first-child {
    width: 218px;
  }
  .index-page .what-should-be-done > div > div:first-child img {
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .index-page .block-reg-check .title > div {
    line-height: 29px;
  }
  .index-page .block-reg-check .title > div:first-child {
    font-size: 23px;
  }
  .index-page .block-reg-check .title > div:first-child img {
    height: 31px;
  }
  .index-page .block-reg-check .title > div:last-child {
    font-size: 23px;
  }
  .index-page .prizes-block h5 {
    font-size: 16px;
  }
  .index-page .prizes-block p {
    font-size: 13px;
  }
}
@media (max-width: 575px) and (min-width: 0) {
  .index-page .hair {
    background-size: contain;
    height: 102vw;
  }
  .index-page .hair h2 {
    top: 11%;
    left: -0.3%;
    font-size: 8vw;
    line-height: 9vw;
    width: 54vw;
  }
  .index-page .hair p {
    top: 73%;
    left: 13%;
    margin: 0;
    font-size: 3vw;
    line-height: 3vw;
  }
  .index-page .block-reg-check .title > div {
    line-height: 4.7vw;
  }
  .index-page .block-reg-check .title > div:first-child {
    font-size: 4.2vw;
  }
  .index-page .block-reg-check .title > div:first-child img {
    height: 5vw;
  }
  .index-page .block-reg-check .title > div:last-child {
    font-size: 4.2vw;
  }
  .index-page .prizes-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .index-page .prizes-block > div {
    width: 100%;
  }
  .index-page .prizes-block h5 {
    font-size: 16px;
  }
  .index-page .prizes-block p {
    font-size: 13px;
  }
}
.btn-group-collapse-map {
  height: 50px;
}
.btn-group-collapse-map a {
  text-decoration: none!important;
}
#collapse-map > div {
  background: #262626;
  border-top: 2px solid #2AB2F9;
  padding-bottom: 24px;
}
#collapse-map h4 {
  font-size: 22px;
  margin: 23px 0 15px 0;
}
#collapse-map .towns-block {
  margin-bottom: 20px;
}
#collapse-map iframe {
  margin-top: 64px;
}
#collapse-map .nicescroll-working-time-list > div {
  width: calc(100% - 1px);
}
#collapse-map .working-time > div:nth-child(3),
#collapse-map .nicescroll-working-time-list > div > div {
  display: flex;
}
#collapse-map .working-time > div:nth-child(3) > div,
#collapse-map .nicescroll-working-time-list > div > div > div {
  font-family: 'GothaProReg';
  line-height: 18px;
  color: #999898;
}
#collapse-map .working-time > div:nth-child(3) > div:nth-child(1),
#collapse-map .nicescroll-working-time-list > div > div > div:nth-child(1) {
  width: 30px;
}
#collapse-map .working-time > div:nth-child(3) > div:nth-child(2),
#collapse-map .nicescroll-working-time-list > div > div > div:nth-child(2) {
  width: calc(100% - 180px);
}
#collapse-map .working-time > div:nth-child(3) > div:nth-child(3),
#collapse-map .nicescroll-working-time-list > div > div > div:nth-child(3) {
  width: 150px;
  text-align: right;
  white-space: nowrap;
}
#collapse-map .nicescroll-block {
  height: 366px;
  margin-top: 18px;
}
#collapse-map .feedback textarea {
  height: 238px;
}
@media (max-width: 1630px) and (min-width: 992px) {
  #collapse-map .working-time > div:nth-child(3) > div,
  #collapse-map .nicescroll-working-time-list > div > div > div {
    font-size: 14px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(1),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(1) {
    width: 30px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(2),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(2) {
    width: calc(100% - 130px);
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(3),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(3) {
    width: 100px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(1),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(1) {
    width: 30px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(2),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(2) {
    width: calc(100% - 90px);
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(3),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(3) {
    width: 60px;
  }
}
@media (max-width: 991px) and (min-width: 0px) {
  #collapse-map .working-time > div:nth-child(3) > div,
  #collapse-map .nicescroll-working-time-list > div > div > div {
    font-size: 14px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(1),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(1) {
    width: 30px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(2),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(2) {
    width: calc(100% - 130px);
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(3),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(3) {
    width: 100px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  #collapse-map .working-time > div:nth-child(3) > div,
  #collapse-map .nicescroll-working-time-list > div > div > div {
    font-size: 12px;
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(2),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(2) {
    width: calc(100% - 90px);
  }
  #collapse-map .working-time > div:nth-child(3) > div:nth-child(3),
  #collapse-map .nicescroll-working-time-list > div > div > div:nth-child(3) {
    width: 60px;
  }
}
/* Личный кабинет загрузка чков ===================================================================================================== */
.lk-upload-check-page h1 {
  text-align: center;
  font-size: 36px;
  margin: 21px 0 25px;
}
.lk-upload-check-page p {
  padding-left: 30px;
}
.lk-upload-check-page p.full-name {
  font-family: 'GothaProMed';
  font-size: 22px;
  margin: 0 0 20px 0;
  line-height: 15px;
}
.lk-upload-check-page p.tel,
.lk-upload-check-page p.e-mail {
  margin: 0;
  line-height: 20px;
}
@media (min-width: 1630px) {
  .lk-upload-check-page > div > div {
    flex-basis: 815px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .lk-upload-check-page p.full-name {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
  .lk-upload-check-page p.tel,
  .lk-upload-check-page p.e-mail {
    font-size: 14px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .lk-upload-check-page h1 {
    text-align: center;
    font-size: 25px;
    margin: 21px 0 25px;
  }
  .lk-upload-check-page p {
    text-align: center;
    padding: 0;
  }
  .lk-upload-check-page p.e-mail {
    margin-bottom: 20px;
  }
}
.lk-check-table {
  background: #262626;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 22px;
}
.lk-check-table .th,
.lk-check-table .tr {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.lk-check-table .th:nth-child(even),
.lk-check-table .tr:nth-child(even) {
  background: #2D2D2D;
}
.lk-check-table .th > div,
.lk-check-table .tr > div {
  text-align: center;
  font-size: 17px;
  color: #fff;
  padding: 5px 0;
}
.lk-check-table .th > div:nth-child(1),
.lk-check-table .tr > div:nth-child(1) {
  width: 25%;
}
.lk-check-table .th > div:nth-child(2),
.lk-check-table .tr > div:nth-child(2) {
  width: 20%;
}
.lk-check-table .th > div:nth-child(3),
.lk-check-table .tr > div:nth-child(3) {
  width: 25%;
}
.lk-check-table .th > div:nth-child(4),
.lk-check-table .tr > div:nth-child(4) {
  width: 30%;
}
.lk-check-table .th.th,
.lk-check-table .tr.th {
  border-bottom: 2px solid #1CB1FC;
}
.lk-check-table .th.th > div,
.lk-check-table .tr.th > div {
  font-size: 16px;
}
@media (max-width: 991px) and (min-width: 767px) {
  .lk-check-table .th > div,
  .lk-check-table .tr > div {
    font-size: 14px;
  }
  .lk-check-table .th.th > div,
  .lk-check-table .tr.th > div {
    font-size: 12px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .lk-check-table {
    margin-bottom: 20px;
  }
  .lk-check-table .th > div,
  .lk-check-table .tr > div {
    font-size: 10px;
  }
  .lk-check-table .th.th > div,
  .lk-check-table .tr.th > div {
    font-size: 10px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .lk-check-table .th > div,
  .lk-check-table .tr > div {
    font-size: 8px;
  }
  .lk-check-table .th.th > div,
  .lk-check-table .tr.th > div {
    font-size: 8px;
  }
}
/* Победители ===================================================================================================== */
.winners-page h1 {
  text-align: center;
  font-size: 36px;
  margin: 21px 0 25px;
}
.winners-page p {
  padding-left: 30px;
}
.winners-page p.full-name {
  font-family: 'GothaProMed';
  font-size: 22px;
  margin: 0 0 20px 0;
  line-height: 15px;
}
.winners-page p.tel,
.winners-page p.e-mail {
  margin: 0;
  line-height: 20px;
}
@media (min-width: 1630px) {
  .winners-page > div > div {
    flex-basis: 80%;
  }
}
@media (max-width: 767px) and (min-width: 0px) {
  .winners-page p.full-name {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
  .winners-page p.tel,
  .winners-page p.e-mail {
    font-size: 14px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .winners-page h1 {
    text-align: center;
    font-size: 25px;
    margin: 21px 0 25px;
  }
  .winners-page p {
    text-align: center;
    padding: 0;
  }
  .winners-page p.e-mail {
    margin-bottom: 20px;
  }
}
.winners-table {
  background: #262626;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 22px;
}
.winners-table .th,
.winners-table .tr {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.winners-table .th:nth-child(even),
.winners-table .tr:nth-child(even) {
  background: #2D2D2D;
}
.winners-table .th > div,
.winners-table .tr > div {
  text-align: center;
  font-size: 17px;
  color: #fff;
  padding: 5px 0;
}
.winners-table .th > div:nth-child(1),
.winners-table .tr > div:nth-child(1) {
  width: 15%;
}
.winners-table .th > div:nth-child(2),
.winners-table .tr > div:nth-child(2) {
  width: 20%;
}
.winners-table .th > div:nth-child(3),
.winners-table .tr > div:nth-child(3) {
  width: 15%;
}
.winners-table .th > div:nth-child(4),
.winners-table .tr > div:nth-child(4) {
  width: 20%;
}
.winners-table .th > div:nth-child(5),
.winners-table .tr > div:nth-child(5) {
  width: 30%;
}
.winners-table .th.th,
.winners-table .tr.th {
  border-bottom: 2px solid #1CB1FC;
}
.winners-table .th.th > div,
.winners-table .tr.th > div {
  font-size: 16px;
}
@media (max-width: 991px) and (min-width: 767px) {
  .winners-table .th > div,
  .winners-table .tr > div {
    font-size: 14px;
  }
  .winners-table .th.th > div,
  .winners-table .tr.th > div {
    font-size: 12px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .winners-table {
    margin-bottom: 20px;
  }
  .winners-table .th > div,
  .winners-table .tr > div {
    font-size: 10px;
  }
  .winners-table .th.th > div,
  .winners-table .tr.th > div {
    font-size: 10px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .winners-table .th > div,
  .winners-table .tr > div {
    font-size: 8px;
  }
  .winners-table .th.th > div,
  .winners-table .tr.th > div {
    font-size: 8px;
  }
}
.rules-page {
  margin-bottom: 30px;
}
.rules-page h1 {
  text-align: center;
  font-size: 36px;
  margin: 21px 0 25px;
}
.rules-page h4 {
  font-size: 22px;
  margin-bottom: 18px;
}
.rules-page .spLink {
  display: table;
  font-size: 18px;
  margin-top: 20px;
}
.faq-block {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.faq-block > div:first-child {
  width: 20px;
}
.faq-block > div:last-child {
  width: calc(100% - 20px);
  background: #262626;
  border-left: 2px solid #1CB1FC;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.faq-block > div:last-child > div > p {
  margin-bottom: 9px;
}
.faq-block .btn-collapse-block {
  line-height: 35px;
  padding: 0 6px;
  font-family: 'GothaProMed';
  font-size: 18px;
  color: #fff;
  display: block;
  text-decoration: none!important;
}
.faq-block .collapse-block {
  font-size: 16px;
  color: #999;
  margin: 0 0 0 16px;
}
.faq-block i {
  color: #1CB1FC;
  line-height: 35px;
}
.nicescroll-rules {
  height: 600px;
  background: #262626;
}
.nicescroll-rules > div {
  padding: 10px;
}
.nicescroll-rules > div > p {
  color: #bdbdbd;
  font-size: 16px;
}
@media (max-width: 991px) and (min-width: 0px) {
  .rules-page h4 {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .rules-page .spLink {
    font-size: 12px;
  }
  .faq-block {
    margin-bottom: 10px;
  }
  .faq-block > div:last-child > div > p {
    font-size: 12px;
  }
  .faq-block .btn-collapse-block {
    line-height: 28px;
    font-size: 14px;
  }
  .faq-block i {
    line-height: 28px;
    font-size: 12px;
  }
  .nicescroll-rules {
    height: 500px;
  }
  .nicescroll-rules > div > p {
    font-size: 14px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .rules-page h1 {
    font-size: 30px;
  }
  .nicescroll-rules {
    height: 300px;
  }
  .nicescroll-rules > div > p {
    font-size: 12px;
  }
}
/* ===================================================================================================== */
.modal-content {
  background-color: #262626;
  border-radius: 1.3rem;
}
.modal-content .modal-title {
  font-size: 36px;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.modal-content > div > div {
  position: relative;
}
.modal-content > div > div .close {
  position: absolute;
  top: -40px;
  right: -50px;
  background: #262626;
  color: #fff;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1!important;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.modal-content > div > div:last-child {
  padding: 20px 100px;
}
@media (max-width: 575px) and (min-width: 0px) {
  .modal-backdrop.show {
    opacity: 1;
  }
  .modal {
    padding: 0!important;
  }
  .modal-content .modal-title {
    font-size: 20px;
    padding: 35px 0 20px 0;
  }
  .modal-content > div > div .close {
    background: transparent;
    top: 10px;
    right: 10px;
    width: unset;
    height: unset;
    line-height: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .modal-content > div > div:last-child {
    padding: 20px 15px;
  }
}
.not-exist {
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  height: 190px;
}
.not-exist div {
  font-size: 28px;
}
@media (max-width: 767px) and (min-width: 0px) {
  .not-exist {
    width: 100%;
    height: 100px;
  }
  .not-exist div {
    font-size: 20px;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .not-exist div {
    font-size: 16px;
  }
}
.nicescroll-rails {
  background: #373737;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-group {
  margin-bottom: 21px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #787878;
  border: 0;
  transition: none;
  resize: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-control:focus {
  color: #fff;
  background-color: #787878;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 1 !important;
  /* Firefox */
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}
.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff !important;
}
input[type=file] {
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
label[for=file] span {
  cursor: pointer;
  text-decoration: underline;
}
label[for=file] span:hover {
  text-decoration: none;
}
.checkbox-block {
  font-family: 'GothaProReg';
  font-size: 14px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox-block i {
  background: url(/images/checkbox.png) left top no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.checkbox-block label,
.checkbox-block span {
  padding: 0;
  margin: 0;
  width: calc(100% - 33px);
}
.checkbox-block.checked i {
  background-position: left center;
}
.checkbox-block.disabled i {
  background-position: left top;
}
.checkbox-block.checked-disabled i {
  background-position: left bottom;
}
.checkbox-block input {
  position: absolute;
  top: -10000px;
  left: -10000px;
  opacity: 0;
}
.theme_select {
  position: relative;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
}
.theme_select > div {
  background: #787878;
  display: table;
  width: 100%;
  border: 0px solid #FBE65E;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.theme_select .ts_selected_item {
  float: left;
  font-size: 16px;
  padding: 3px 10px;
  line-height: 23px;
  white-space: nowrap;
  height: 31px;
}
.theme_select .ts_arrow {
  position: absolute;
  right: 0px;
  top: 3px;
  width: 35px;
  color: #fff;
  font-size: 7px;
  background: #787878;
  line-height: 26px;
  text-align: center;
  border-radius: 5px;
}
.theme_select .ts_list {
  background: #787878;
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  width: 100%;
  margin: 0;
  padding: 0;
  border-left: 0px solid #FBE65E;
  border-right: 0px solid #FBE65E;
  border-bottom: 0px solid #FBE65E;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}
.theme_select li {
  color: #fff;
  padding: 0 0 0 10px;
  line-height: 30px;
  list-style: none;
  cursor: default;
  border-radius: 5px;
}
.theme_select li.selected {
  color: #787878;
  background: #EAEAEA;
}
.theme_select li:hover {
  color: #787878;
  background: #EAEAEA;
}
select {
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
.btn {
  display: table;
  font-family: 'GothaProBol';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  border-radius: 1.1rem;
  color: #fff !important;
  border: 0px solid transparent;
  padding: 0.375rem 2rem;
}
.gradient {
  background-color: #189bd9;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDBlZGZlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxZWI3ZmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjA1NDAwMDAwMDAwMDAwMDAwNiIvPjxzdG9wIHN0b3AtY29sb3I9IiMxOWE1ZDgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQ4YmNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiMxMjgxYzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk0NiIvPjxzdG9wIHN0b3AtY29sb3I9IiMwOTU0OWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #40edfe), color-stop(0.054, #1eb7fa), color-stop(0.5, #19a5d8), color-stop(0.51, #148bce), color-stop(0.946, #1281c5), color-stop(1, #09549c));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(top, #40edfe 0%, #1eb7fa 5.4%, #19a5d8 50%, #148bce 51%, #1281c5 94.6%, #09549c 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #40edfe 0%, #1eb7fa 5.4%, #19a5d8 50%, #148bce 51%, #1281c5 94.6%, #09549c 100%);
  background-image: -ms-linear-gradient(top, #40edfe 0%, #1eb7fa 5.4%, #19a5d8 50%, #148bce 51%, #1281c5 94.6%, #09549c 100%);
}
/* IE8- CSS hack */
@media \0screen\,screen\9  {
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff40edfe", endColorstr="#ff09549c", GradientType=0);
  }
}
.gradient-gray {
  background-color: #8b8a8a;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDZkN2RhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhY2FiYWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjA1NDAwMDAwMDAwMDAwMDAwNiIvPjxzdG9wIHN0b3AtY29sb3I9IiM5Nzk2OTYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjODQ4MzgzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MSIvPjxzdG9wIHN0b3AtY29sb3I9IiM2NDYzNjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk0NiIvPjxzdG9wIHN0b3AtY29sb3I9IiM0NTQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #d6d7da), color-stop(0.054, #acabab), color-stop(0.5, #979696), color-stop(0.51, #848383), color-stop(0.946, #646363), color-stop(1, #454444));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(top, #d6d7da 0%, #acabab 5.4%, #979696 50%, #848383 51%, #646363 94.6%, #454444 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #d6d7da 0%, #acabab 5.4%, #979696 50%, #848383 51%, #646363 94.6%, #454444 100%);
  background-image: -ms-linear-gradient(top, #d6d7da 0%, #acabab 5.4%, #979696 50%, #848383 51%, #646363 94.6%, #454444 100%);
}
/* IE8- CSS hack */
@media \0screen\,screen\9  {
  .gradient-gray {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd6d7da", endColorstr="#ff454444", GradientType=0);
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?hs8o3e');
  src: url('/fonts/icomoon.eot?hs8o3e#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?hs8o3e') format('truetype'), url('/fonts/icomoon.woff?hs8o3e') format('woff'), url('/fonts/icomoon.svg?hs8o3e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
  content: "\ea1c";
}
.icon-attachment:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-double-arrow-right:before {
  content: "\e902";
}
.icon-double-arrow-down:before {
  content: "\e903";
}
.icon-play3:before {
  content: "\ea1d";
}
@font-face {
  font-family: 'GothaProReg';
  src: url('/fonts/GothaProReg.eot');
  src: local('☺'), url('/fonts/GothaProReg.woff') format('woff'), url('/fonts/GothaProReg.ttf') format('truetype'), url('/fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProMed';
  src: url('/fonts/GothaProMed.eot');
  src: local('☺'), url('/fonts/GothaProMed.woff') format('woff'), url('/fonts/GothaProMed.ttf') format('truetype'), url('/fonts/GothaProMed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProBol';
  src: url('/fonts/GothaProBol.eot');
  src: local('☺'), url('/fonts/GothaProBol.woff') format('woff'), url('/fonts/GothaProBol.ttf') format('truetype'), url('/fonts/GothaProBol.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=styles.css.map */